* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #E2E2E2;
}

.box {
  max-width: 480px;
  width: 100vw;
  max-height: 960px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #FBAB7E, #FFD95C 60%);
}

.box-2 {
  width: 80%;
  height: 80%;
  position: relative;
}

h1 {
  text-align: center;
  margin: 30% auto 70%;
}
