* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #E2E2E2;
}

.box {
  max-width: 480px;
  width: 100vw;
  max-height: 960px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to bottom, #FBAB7E, #FFD95C 60%);
  margin: 0 auto;
}

.box-2 {
  width: 80%;
  height: 80%;
  position: relative;
}

h1 {
  text-align: center;
  margin: 30% auto 10%;
}

.finish {
  color: white;
  font-size: 20px;
  text-align: center;
  margin-bottom: 70%;
}

a {
  text-decoration: none;
}

.btn {
  width: 230px;
  height: 45px;
  border-radius: 20px;
  background-color: white;
  text-align: center;
  line-height: 50px;
  margin: 10px auto;
}

.btn p {
  color: #FBAB7E;
}
