* {
  margin: 0;
  padding: 0;
}

.contain {
  max-width: 480px;
  width: 100vw;
  max-height: 960px;
  height: 100vh;
  margin: 0 auto;
  color: #7B7979;
}

.contain header {
  max-width: 480px;
  width: 100%;
  height: 90px;
  background-color: #FBAB7E;
  position: fixed;
  top: 0;
  z-index: 200;
  text-align: center;
}

.contain header .search {
  position: absolute;
  bottom: 8PX;
  right: 0;
  left: 0;
  margin: auto;
}

.contain header .search > p {
  color: white;
}

.contain header .search > svg {
  position: absolute;
  left: 75px;
  bottom: 9px;
}

.contain header .search > input {
  border: none;
  width: 250px;
  height: 30px;
  border-radius: 50px;
}

.contain main {
  height: calc(100vh - 187px);
  padding: 90px 0 97px;
  width: 100%;
  position: relative;
  background-color: #F3EADA;
  z-index: 5;
}

.contain main .main__inner01 {
  height: 25px;
  width: 100%;
  border-bottom: 1px #707070 solid;
  position: relative;
}

.contain main .main__inner01 > ul {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  list-style-type: none;
  text-align: center;
  height: 100%;
}

.contain main .main__inner01 > ul > li {
  color: #838383;
  height: 100%;
  width: 110px;
  font-size: 12px;
  line-height: 25px;
}

.contain main .main__inner01 > ul > li a {
  text-decoration: none;
}

.contain main .main__inner01 > ul > li a:link, .contain main .main__inner01 > ul > li a:visited {
  color: #707070;
}

.contain main .main__inner02 {
  height: 34px;
  width: 100%;
  position: relative;
  overflow-x: scroll;
  display: none;
}

.contain main .main__inner02 > ul {
  list-style-type: none;
  height: 100%;
  width: 500px;
  background-color: #FCFCFC;
}

.contain main .main__inner02 > ul > li {
  display: inline-block;
  color: #fff;
  font-size: 10px;
  height: 18px;
  padding: 0 20px;
  margin: 0 5px;
  border-radius: 18px;
  line-height: 18px;
  background-color: #FBAB7E;
}

.contain main .purpose {
  max-width: 480px;
  width: 100%;
  height: 271px;
  background-color: #F3EADA;
  position: fixed;
  bottom: -271px;
  border-radius: 50px 50px 0 0;
  transition: 0.8s;
  z-index: 10;
}

.contain main .purpose h2 {
  font-size: 16px;
  margin-top: 26px;
  margin-left: 38px;
  color: #707070;
}

.contain main .purpose ul {
  font-size: 12px;
  color: #707070;
  list-style-type: circle;
  margin-top: 20px;
  margin-left: 60px;
}

.contain main .purpose ul li {
  margin-bottom: 3px;
}

.contain main .main__inner03 {
  width: 100%;
  height: 25px;
  position: relative;
}

.contain main .main__inner03 h3 {
  font-size: 14px;
  padding-top: 2px;
  float: left;
  color: #707070;
}

.contain main .main__inner03 select {
  border: none;
  background-color: #F3EADA;
  color: #707070;
  margin-left: 16px;
  float: right;
  font-size: 10px;
  margin-top: 6px;
}

.contain main .plan {
  height: calc(100vh - 246px);
  width: 100%;
  position: relative;
  overflow-y: scroll;
}

.contain main .plan__scroll {
  width: 100%;
  height: 1150px;
}

.contain main .plan__scroll .plan__background {
  width: 100%;
  height: 235px;
  background-color: #F3EADA;
  position: relative;
  margin-bottom: 5px;
  position: relative;
}

.contain main .plan__scroll .plan__background .plan__icon {
  width: 100%;
  height: 50px;
  position: relative;
  display: flex;
}

.contain main .plan__scroll .plan__background .plan__icon svg {
  margin-left: 16px;
  margin-top: 10px;
  width: 28px;
  height: 28px;
}

.contain main .plan__scroll .plan__background .plan__icon h3 {
  margin-left: 16px;
  margin-top: 15px;
  font-size: 12px;
}

.contain main .plan__scroll .plan__background .plan__place {
  width: 100%;
  height: 180px;
  display: flex;
  justify-content: space-around;
}

.contain main .plan__scroll .plan__background .plan__place__detail {
  width: 103px;
  height: 165px;
  background-color: white;
  border-radius: 10px;
}

.contain main .plan__scroll .plan__background .plan__place__detail span {
  width: 103px;
  height: 115px;
  display: block;
  background-color: #D0CCCC;
  background-image: url(../img/image.png);
  background-size: cover;
  background-position: center;
  border-radius: 10px 10px 0 0;
}

.contain main .plan__scroll .plan__background .plan__place__detail h4 {
  font-size: 8px;
  margin-top: 14px;
  margin-left: 8px;
}

.contain main .plan__scroll .plan__background .plan__place__detail > p {
  font-size: 6px;
  margin-left: 8px;
}

.contain footer {
  max-width: 480px;
  width: 100%;
  height: 97px;
  background: linear-gradient(#FBB675, #FED65D);
  position: fixed;
  bottom: 0;
  z-index: 150;
}

.contain footer > ul {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  line-height: 60px;
}

.line:before {
  content: '';
  width: 112px;
  height: 3px;
  display: block;
  background-color: #FBAB7E;
  position: absolute;
  bottom: 0;
}
