$backColor: #f2f2f2;
$mainColor: #fccd00;
$titleColor: #3b3b3b;
$textboxColor: #fff;
$accentColor: #7ba6ef;
$btnBack: #b7b8ba;
$backphoto: #fafafa;
$fontColor: #fff;
$iconBorder: #fff;
$textColor: #bfbfbf;
$lineColor: #dbdbdb;
$selectArrow: #d0d0d0;
$placeholderColor: #c2c2c2;
$headerColor: linear-gradient(to left, #fff21f, #fccd00 38%, #fff21f);
$indexback: linear-gradient(60deg, #fff21f 0%, #fccd00 65%, #ffbc3e 100%);
